:root {
    --primary-color: #6329dc;
    --secondry-color: #5424bb;
    --light-primary: #c59dff;
    --glow-light: #d9c0ff;
    --text-primary: #ffffff;
    --text-secondary: #c59dff;
    --white-color: white;

    /*^ Background */

    --bg-color: #000000;

    /*^ Effects */
    --box-shadow: 0 0 80px rgba(197, 157, 255);
    --gradient-accent-top: linear-gradient(180deg, var(--glow-light), var(--light-primary), var(--secondry-color), var(--bg-color));
    --gradient-accent-right: linear-gradient(270deg, var(--glow-light), var(--light-primary), var(--secondry-color), var(--bg-color), var(--bg-color), var(--bg-color));
    --gradient-accent-left: linear-gradient(90deg, var(--glow-light), var(--light-primary), var(--secondry-color), var(--bg-color), var(--bg-color), var(--bg-color));

    /*^ Font Family */
    --primary-font-family: "Google Sans", sans-serif;
    --secondary-font-family: "Cascadia Mono", sans-serif;

    /*^ Lenth */
    --btn-radius: 30px;
    --border-radius: 50px;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--bg-color);
    color: var(--text-primary);
    font-family: var(--primary-font-family);
    overflow-x: hidden;
}

html {
    scroll-behavior: smooth;
    overflow-x: hidden;
}

::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
    background: transparent;
}

::-webkit-scrollbar-thumb {
    background: var(--gradient-accent-top);
    border-radius: 2px;
}

.container {
    position: relative;
    max-width: 1200px;
    width: 100%;
    margin-inline: auto;
    overflow: hidden;
}

a {
    text-decoration: none !important;
}

li {
    list-style: none;
}

section {
    position: relative;
}

.hr {
    margin: 20px auto;
    width: 100%;
    height: 2px;
    border: none;
    background: var(--gradient-accent-left);
}

/*^ Home Section */

.section-content {
    width: 100%;
    height: 100svh;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    overflow: hidden;
}

.back-effect {
    position: absolute;
    width: 700px;
    height: 700px;
    border-radius: 50%;
    box-shadow: var(--box-shadow);
    filter: blur(5px);
    opacity: 0.2;
    z-index: -1;
}

.bg-1 {
    top: -50%;
    left: -20%;
    background: var(--gradient-accent-right);
}

.bg-2 {
    top: 50%;
    right: -20%;
    background: var(--gradient-accent-left);
}

.section-content .top-text {
    font-size: 12px;
    font-weight: bold;
    letter-spacing: 2px;
}


.section-content .home-images {
    max-width: 400px;
    height: 200px;
    animation: float 3s ease-in-out infinite;
}

@keyframes float {
    0% {
        transform: translateY(0px);
    }

    50% {
        transform: translateY(-10px);
    }

    100% {
        transform: translateY(0px);
    }
}

.home-images .image-1,
.home-images .image-2 {
    position: absolute;
}

.home-images .image-1 {
    width: 250px;
    top: 0;
    right: -60px;
    z-index: 2;
}

.home-images .image-2 {
    top: -20px;
    left: -20px;
}

.section-content .home-heading {
    max-width: 400px;
    font-size: 80px;
    font-weight: 600;
    color: var(--text-primary);
}

.section-content .home-heading {
    letter-spacing: 3px;
    margin: 0;
    text-align: center;
}

.active {
    color: var(--light-primary);
}

.section-content .typing {
    width: 278px;
}

.home-section .button {
    position: relative;
    width: 190px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 12px;
    cursor: pointer;
    border: 1px solid var(--primary-color);
    border-radius: var(--border-radius);
    background: var(--gradient-accent-left);
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.137);
    transition: background 0.3s ease;
}

.home-section .button::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    inset: 0;
    background: var(--gradient-accent-right);
    border: 0px solid var(--primary-color);
    border-radius: var(--border-radius);
    opacity: 0;
    transition: opacity 0.4s ease;
    z-index: 1;
}

.home-section .button:hover::before {
    opacity: 1;
}

.home-section .text {
    width: 70%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    color: var(--text-primary);
    text-transform: uppercase;
    font-weight: bold;
    font-size: 12px;
    z-index: 2;
}

.home-section .arrow path {
    fill: var(--text-primary);
}

.home-section .button:hover .arrow {
    animation: slide-in-left 0.6s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    z-index: 2;
}

@keyframes slide-in-left {
    0% {
        transform: translateX(-10px);
        opacity: 0;
    }

    100% {
        transform: translateX(0px);
        opacity: 1;
    }
}

.home-section .button:active {
    transform: scale(0.97);
}

/*^ Our Work Section */
.our-work {
    height: 100svh;
}

.our-work .work-content {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}

.our-work .section-title {
    display: flex;
}

.our-work .section-title h2 {
    font-size: 60px;
    font-weight: 600;
    color: var(--text-primary);
    margin-bottom: 20px;
}

.our-work .section-descreption {
    display: flex;
    align-items: flex-end;
    flex-direction: column;
}

.our-work .section-descreption p {
    font-size: 16px;
    max-width: 700px;
    line-height: 1.5;
}

.our-work .work-images {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.our-work .work-images .work-image {
    width: 100%;
    height: 300px;
    object-fit: cover;
    border-radius: 15px;
}



/*! ,,,,,,,,,,,,,,,,,,, Responsive ,,,,,,,,,,,,,,,,,,, */




/*& max-width: 1200px */

@media (max-width: 1200px) {

    /*^ Our Work Section */
    .our-work .work-content {
        grid-template-columns: 1fr;
        align-items: center;
    }

    .our-work .section-title {
        justify-content: center;
    }

    .our-work .section-descreption {
        align-items: center;
        text-align: center;
    }

    .our-work .work-images .work-image {
        width: 50%;
        height: 200px;
    }
}

/*& max-width: 992px */

@media (max-width: 992px) {}


/*& max-width: 576px */
@media (max-width: 576px) {}


/*& max-width: 768px */

@media (max-width: 768px) {
    .section-content {
        justify-content: center;
        gap: 70px;
    }

    .back-effect {
        width: 450px;
        height: 450px;
    }

    .bg-1 {
        top: -30%;
        left: -10%;
    }

    .bg-2 {
        top: 50%;
        right: -5%;
    }

    .home-section .text {
        font-size: 10px;
    }

    .section-content .home-heading {
        font-size: 55px;
        padding: 0 20px;
        height: 120px;
    }

    .section-content .home-images {
        max-width: 300px;
        height: 150px;
    }

    .home-images .image-1,
    .home-images .image-2 {
        width: 170px;
    }

    .home-images .image-1 {
        right: -40px;
        width: 200px;
    }

    .home-section .button {
        width: 150px;
        height: 25px;
    }

    /*^ Our Work Section */

    .our-work .section-title h2 {
        font-size: 40px;
    }

    .our-work .work-images {
        flex-direction: column;
    }

    .our-work .work-images .work-image {
        width: 80%;
        height: 200px;
    }

    .our-work .section-descreption p {
        font-size: 14px;
    }


}